node_modules
**/node_modules
web-page/node_modules
bridge/node_modules

# Build output
dist

# Workspace and misc
.DS_Store
.env
npm-debug.log
yarn.lock
pnpm-lock.yaml
README.md
legacy/serialprebuilds
