name: Look for SL FW files, update manifest and README

permissions:
  contents: write

on:
  push:
    branches:
      - fw_files
    paths:
      - "sl/**"
      - "!sl/manifest.json"
      - ".github/scripts/process_sl.py"
      - ".github/scripts/update_readme.py"
  workflow_dispatch:

jobs:
  work:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3
      with:
        ref: fw_files

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install requests

    - name: Download, prepare files and update manifest
      run: |
        python3 .github/scripts/process_sl.py
    
    - name: Update README
      run: |
        python3 .github/scripts/update_readme.py

    - name: Commit and push changes
      run: |
        git config --global user.email "action@github.com"
        git config --global user.name "GitHub Action"
        git add .
        
        if git diff --staged --quiet; then
          echo "No changes to commit"
          exit 0
        fi

        MSG="SL Update:"

        if git diff --staged --name-only | grep -q "sl/manifest.json"; then
            MSG="$MSG manifest updated,"
        fi

        if git diff --staged --name-only | grep -q "README.md"; then
            MSG="$MSG README updated,"
        fi
        
        MSG=$(echo "$MSG" | sed 's/,$//')
        
        if [ "$MSG" == "SL Update:" ]; then
            MSG="Update SL content"
        fi
        
        git commit -m "$MSG"
        git push

